@model IEnumerable<IdentityRole>
@{
    int num = 1;
}
<div class="text-center">
    <div class="display-6">
        Role
        <br />
    </div>
    <table class="table table-striped-columns table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Name</th>
                <th>Normalized Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (IdentityRole item in Model)
            {
                <tr>
                    <td>@num</td>
                    <td>@item.Id</td>
                    <td>
                        @item.Name
                    </td>
                    <td>@item.NormalizedName</td>
                </tr>
                num++;
            }
        </tbody>
    </table>
</div>